@property --transition-white {
    syntax: '<color>';
    initial-value: rgba(216, 216, 216, 1);
    inherits: false;
}

@property --transition-grey {
    syntax: '<color>';
    initial-value: rgba(64, 64, 64, 1);
    inherits: false;
}

@property --transition-red {
    syntax: '<color>';
    initial-value: rgba(255, 64, 64, 1);
    inherits: false;
}

@property --transition-orange {
    syntax: '<color>';
    initial-value: rgba(255, 128, 32, 1);
    inherits: false;
}

@property --transition-angle {
    syntax: '<angle>';
    initial-value: 165deg;
    inherits: false;
}

:root {
    /* Transitions */
    --transition-duration-5: calc(1s) ease;
    --transition-duration-4: calc(0.8s) ease;
    --transition-duration-3: calc(0.6s) ease;
    --transition-duration-2: calc(0.4s) ease;
    --transition-duration-1: calc(0.2s) ease;
    /* Colors */
    --white: 216, 216, 216;
    --dark: rgba(32, 32, 32, 1);
    --grey: 64, 64, 64;
    --red: rgba(255, 64, 64, 1);
    --orange: rgba(255, 128, 32, 1);
    /* Colors */
    --background-color: rgba(16,16,16,1);
    --background-lighter-color: rgba(24,24,24,1);
    --background-transparent-color: rgba(32,32,32,.5);
    --background-hover-color: rgba(32,32,32,1);
    --text-hover-color: rgba(255,255,255,0.8);
    --background-disabled-color: rgba(64,64,64,1);
    --text-disabled-color: rgba(128,128,128,1);
    --scale-factor: .7;
    --border: 1px;
    --border-radius: clamp(0px, calc(1.2vh * var(--scale-factor)), calc(2.4vw * var(--scale-factor)));
    --ease-time: 0.5s;
    --gradient-logo-color: -webkit-linear-gradient(45deg, var(--red), var(--orange)); /* Safari 5.1 - 6.0 */
    --gradient-logo-color: -moz-linear-gradient(45deg, var(--red), var(--orange)); /* FF 3.6 - 15 */
    --gradient-logo-color: -o-linear-gradient(45deg, var(--red), var(--orange)); /* Opera 11.1 - 12 */
    --gradient-logo-color: linear-gradient(45deg, var(--red), var(--orange));
    --hover-gradient-logo-color: -webkit-linear-gradient(45deg, rgb(180, 45, 50), rgb(204, 126, 71)); /* Safari 5.1 - 6.0 */
    --hover-gradient-logo-color: -moz-linear-gradient(45deg, rgb(180, 45, 50), rgb(204, 126, 71)); /* FF 3.6 - 15 */
    --hover-gradient-logo-color: -o-linear-gradient(45deg, rgb(180, 45, 50), rgb(204, 126, 71)); /* Opera 11.1 - 12 */
    --hover-gradient-logo-color: linear-gradient(45deg, rgb(180, 45, 50), rgb(204, 126, 71));
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgba(var(--white), 1);
    /* Transitions */
    transition: color var(--transition-duration-1);
    -webkit-transition: color var(--transition-duration-1);
    -moz-transition: color var(--transition-duration-1);
    -o-transition: color var(--transition-duration-1);
    -ms-transition: color var(--transition-duration-1);
}

    *:hover {
        color: white;
    }

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background: var(--background-lighter-color);
}

main {
    display: none;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    background: var(--background-lighter-color);
    /* Transitions */
    transition: top var(--transition-duration-3), height var(--transition-duration-3);
    -webkit-transition: top var(--transition-duration-3), height var(--transition-duration-3);
    -moz-transition: top var(--transition-duration-3), height var(--transition-duration-3);
    -o-transition: top var(--transition-duration-3), height var(--transition-duration-3);
    -ms-transition: top var(--transition-duration-3), height var(--transition-duration-3);
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
    gap: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    width: inherit;
    height: 100%;
    overflow: hidden;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
    line-height: clamp(0px, calc(6vh * 1.1 * var(--scale-factor)), calc(12vw * 1.1 * var(--scale-factor)));
}

h2 {
    font-size: clamp(0px, calc(5vh * var(--scale-factor)), calc(10vw * var(--scale-factor)));
    line-height: clamp(0px, calc(5vh * 1.33 * var(--scale-factor)), calc(10vw * 1.33 * var(--scale-factor)));
}

h3 {
    font-size: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
    line-height: clamp(0px, calc(4vh * 1.33 * var(--scale-factor)), calc(8vw * 1.33 * var(--scale-factor)));
}

h4 {
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor)));
    line-height: clamp(0px, calc(2.5vh * 1.33 * var(--scale-factor)), calc(5vw * 1.33 * var(--scale-factor)));
}

p {
    font-size: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    line-height: clamp(0px, calc(2vh * 1.33 * var(--scale-factor)), calc(4vw * 1.33 * var(--scale-factor)));
}

li {
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor)));
    line-height: clamp(0px, calc(2.5vh * 1.75 * var(--scale-factor)), calc(5vw * 1.75 * var(--scale-factor)));
}

a { 
    font-weight: 400;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */
    display: inline-block; /* Makes sure the pseudo-element fits the content width */
    text-decoration: none; /* Optional: Remove default underline */
}

    a.text:hover {
        color: #f97b06;
        background: linear-gradient(31deg, #f97b06 25%, #ff0000);
        -webkit-background-clip: text; /* Chrome, Safari */
        -webkit-text-fill-color: transparent; /* Chrome, Safari */
    }

    a.text::before {
        /* Set Position */
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        /* Set Height & Width */
        width: 100%;
        height: 1px;
        background: rgba(var(--white), 1);
        /* Transitions */
        transition: transform var(--transition-duration-1);
        -webkit-transition: transform var(--transition-duration-1);
        -moz-transition: transform var(--transition-duration-1);
        -o-transition: transform var(--transition-duration-1);
        -ms-transition: transform var(--transition-duration-1);
        /* Transform */
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
    }

.button-container {
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    width: 75%;
    gap: clamp(0px, calc(1vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
}

button {
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    white-space: nowrap;
    text-align: center;
    border: var(--border) solid;
    border-radius: var(--border-radius);
    border-color: rgba(var(--grey), 1);
    cursor: pointer;
    font-weight: 500;
    background: linear-gradient(45deg, rgba(24,24,24,1) 60%, rgba(24,24,24,1));
    height: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
    width: 30%;
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor)));
    padding: 0;
    /* Transitions */
    transition: all var(--transition-duration-1);
    -webkit-transition: all var(--transition-duration-1);
    -moz-transition: all var(--transition-duration-1);
    -o-transition: all var(--transition-duration-1);
    -ms-transition: all var(--transition-duration-1);
}

    button img {
        margin-right: calc(1vh * var(--scale-factor));
        width: calc(2.5vh * var(--scale-factor));
        opacity: 0.8;
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8;
    }

    button:hover img {
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    }

    .important {
        background: var(--gradient-logo-color);
        border-color: rgba(var(--white), 1);
        color: white;
    }

.profile-input-about {
    border-radius: var(--border-radius);
}

.profile-link {
    align-self: center;
    cursor: pointer;
}

.profile-image {
    width: clamp(0px, calc(17vh * var(--scale-factor)), calc(34vw * var(--scale-factor)));
    height: clamp(0px, calc(17vh * var(--scale-factor)), calc(34vw * var(--scale-factor)));
    border-radius: 50%;
    object-fit: cover;
}

select, textarea, input {
    width: -webkit-fill-available; /* Non-standard, consider alternatives */
    width: 100%; /* Fallback */
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(2.5vh * 1.33 * var(--scale-factor)), calc(5vw * 1.33 * var(--scale-factor))); /* Use calc() with the variable */
    height: clamp(0px, calc(11vh * var(--scale-factor)), calc(22vw * var(--scale-factor)));
    padding-left: clamp(0px, calc(1vh * var(--scale-factor)), calc(2vw * var(--scale-factor)));
    padding-right: clamp(0px, calc(1vh * var(--scale-factor)), calc(2vw * var(--scale-factor)));
    appearance: none;
    outline: none;
    color: rgba(var(--white), 1);
    /* Gradient Background + Gradient Border With Radius */
    background: linear-gradient(var(--transition-angle), var(--dark) 60%, var(--dark)) padding-box, linear-gradient(var(--transition-angle), var(--transition-grey), var(--transition-grey), var(--transition-grey), var(--transition-grey)) border-box;
    border: var(--border) solid transparent;
    border-radius: var(--border-radius);
    transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
}

select, input {
    height: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
}

    select:focus,
    textarea:focus,
    input:focus {
        --transition-red: rgba(var(--white), 1);
        --transition-orange: rgba(var(--white), 1);
        --transition-white: rgba(var(--white), 1);
        --transition-grey: rgba(var(--white), 1);
    }

option {
    background-color: var(--dark);
    padding: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
}

.important-outline {
    background: linear-gradient(var(--transition-angle), var(--dark) 60%, var(--dark)) padding-box, linear-gradient(var(--transition-angle), var(--transition-red), var(--transition-orange), var(--transition-white), var(--transition-grey)) border-box;
    border: var(--border) solid transparent;
    border-radius: var(--border-radius);
    transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -webkit-transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -moz-transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -o-transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -ms-transition: --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
}

    .important-outline:hover {
        --transition-angle: 15deg;
    }

    .important-outline:focus {
        --transition-angle: 90deg;
        --transition-red: var(--red);
        --transition-orange: var(--red);
        --transition-white: var(--orange);
        --transition-grey: rgba(var(--white), 1);
    }

    .important-outline.selected {
        --transition-angle: 90deg;
        --transition-red: var(--red);
        --transition-orange: var(--red);
        --transition-white: var(--orange);
        --transition-grey: rgba(var(--white), 1);
    }

.important-border {
    /* Gradient Background + Gradient Border With Radius */
    background: linear-gradient(180deg, rgba(34,36,38,1) 60%, rgba(34,36,38,1)) padding-box, linear-gradient(to right, var(--transition-red), var(--transition-orange), var(--transition-grey), var(--transition-grey)) border-box;
    background-repeat: round;
    background-size: 100%;
    border: var(--border) solid transparent;
    border-radius: var(--border-radius);
    /* Transition Effect. */
    transition: --transition-red var(--transition-duration-1);
    -webkit-transition: --transition-red var(--transition-duration-1);
    -moz-transition: --transition-red var(--transition-duration-1);
    -o-transition: --transition-red var(--transition-duration-1);
    -ms-transition: --transition-red var(--transition-duration-1);
}

    .important-border:before {
        --transition-red: rgba(var(--white), 1);
    }

    button:hover {
        background: var(--hover-gradient-logo-color);
        border-color: rgba(var(--white), 1);
        /* Transitions */
        transition: background 0.3s ease, border-color 0.3s ease, color var(--transition-duration-1);
        -webkit-transition: background 0.3s ease, border-color 0.3s ease, color var(--transition-duration-1);
        -moz-transition: background 0.3s ease, border-color 0.3s ease, color var(--transition-duration-1);
        -o-transition: background 0.3s ease, border-color 0.3s ease, color var(--transition-duration-1);
        -ms-transition: background 0.3s ease, border-color 0.3s ease, color var(--transition-duration-1);
    }

    button:disabled {
        background: var(--background-disabled-color);
        color: var(--text-disabled-color);
        cursor: not-allowed;
        opacity: 0.6;
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */
    }

.navbar {
    background: var(--background-lighter-color);
    position: fixed;
    width: 100vw;
    z-index: 1001;
    /* Transitions */
    transition: top var(--transition-duration-3);
    -webkit-transition: top var(--transition-duration-3);
    -moz-transition: top var(--transition-duration-3);
    -o-transition: top var(--transition-duration-3);
    -ms-transition: top var(--transition-duration-3);
    padding: clamp(0px, calc(1vh * var(--scale-factor)), calc(2vw * var(--scale-factor))) clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
}

    .navbar:before {
        content: "";
        position: absolute;
        bottom: calc(var(--border) * -1);
        left: 0;
        width: 100%;
        height: var(--border);
        background: linear-gradient(to right, var(--red), var(--red), var(--red), var(--red), var(--red), var(--red), var(--red), var(--red), var(--red));
        /* Transition Effect. */
        transition: --transition-red var(--transition-duration-1);
        -webkit-transition: --transition-red var(--transition-duration-1);
        -moz-transition: --transition-red var(--transition-duration-1);
        -o-transition: --transition-red var(--transition-duration-1);
        -ms-transition: --transition-red var(--transition-duration-1);
    }

    .navbar:hover:before {
        --transition-red: rgba(var(--white), 1);
    }

.background {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: max(calc(-2vh * var(--scale-factor)), calc(-4vw * var(--scale-factor)));
    left: 0;
}


    .background::before {
        content: '';
        display: block;
        height: calc(var(--border) * 1);
        background: rgba(var(--grey), 1);
        width: 100%;
        position: absolute;
        top: calc(var(--border) * -1);
        left: 0;
        /* Transitions */
        transition: background var(--transition-duration-1);
        -webkit-transition: background var(--transition-duration-1);
        -moz-transition: background var(--transition-duration-1);
        -o-transition: background var(--transition-duration-1);
        -ms-transition: background var(--transition-duration-1);
    }

/* .background:hover::before {
        background: rgba(var(--white), 1);
    }*/

.sidebar {
    background: var(--background-lighter-color);
    max-width: 100vw;
    max-height: 100vh;
    padding: clamp(0px, calc(2vw * var(--scale-factor)), 12px);
    position: fixed;
    width: clamp(0px, calc(25vh * var(--scale-factor)), calc(50vw * var(--scale-factor)));
    z-index: 1000;
    display: flex;
    /* Transitions */
    transition: top var(--transition-duration-3), right var(--transition-duration-3),left var(--transition-duration-3), height var(--transition-duration-3);
    -webkit-transition: top var(--transition-duration-3), right var(--transition-duration-3),left var(--transition-duration-3), height var(--transition-duration-3);
    -moz-transition: top var(--transition-duration-3), right var(--transition-duration-3),left var(--transition-duration-3), height var(--transition-duration-3);
    -o-transition: top var(--transition-duration-3), right var(--transition-duration-3),left var(--transition-duration-3), height var(--transition-duration-3);
    -ms-transition: top var(--transition-duration-3), right var(--transition-duration-3),left var(--transition-duration-3), height var(--transition-duration-3);
}

    .sidebar:before {
        content: "";
        position: absolute;
        top: 0;
        right: calc(var(--border) * -1);
        width: calc(var(--border) * 1);
        height: 100vh;
        background: linear-gradient(to bottom, var(--red), var(--orange), var(--transition-grey), var(--transition-grey));
        z-index: 1;
        /* Transition Effect. */
        transition: --transition-grey var(--transition-duration-1);
        -webkit-transition: --transition-grey var(--transition-duration-1);
        -moz-transition: --transition-grey var(--transition-duration-1);
        -o-transition: --transition-grey var(--transition-duration-1);
        -ms-transition: --transition-grey var(--transition-duration-1);
    }

    .sidebar:hover:before {
        --transition-grey: rgba(var(--white), 1);
    }

    .sidebar button {
        margin: clamp(0px, calc(.75vh * var(--scale-factor)), calc(1.5vw * var(--scale-factor))) 0;
        white-space: nowrap;
        justify-content: left;
        padding-left: clamp(0px, calc(1.5vh * var(--scale-factor)), calc(3vw * var(--scale-factor)));
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available;
        width: fill-available;
    }

    .sidebar div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading-spinner {
    border: calc(var(--border) * 3) solid #f3f3f3;
    border-top: calc(var(--border) * 3) solid #ff7300;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.container {
    display: flex;
}

    .container > * {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
        margin-right: clamp(0px, calc(0.5vh * var(--scale-factor)), calc(1vw * var(--scale-factor)));
        max-height: 100%;
    }

.text-gradient {
    background-image: var(--gradient-logo-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    /* Transitions */
    transition: opacity var(--transition-duration-1);
    -webkit-transition: opacity var(--transition-duration-1);
    -moz-transition: opacity var(--transition-duration-1);
    -o-transition: opacity var(--transition-duration-1);
    -ms-transition: opacity var(--transition-duration-1);
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

    .nav-links li {
        list-style-type: none;
        position: relative;
        padding: 0px clamp(0px, calc(2.5vh* var(--scale-factor)), calc(5vw* var(--scale-factor))) 0px 0px;
        display: flex;
        align-items: center;
    }

        .nav-links li:has(.dropdown-menu)::before {
            content: "";
            position: absolute;
            right: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid rgba(255, 255, 255, 1); /* Default down arrow */
            transition: transform 0.3s ease; /* Smooth transition */
        }

        .nav-links li:hover::before {
            transform: rotate(180deg); /* Rotate the arrow 180 degrees */
        }

    .nav-links a:hover::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }

    .nav-links li:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: calc(100% + clamp(0px, calc(2vh* var(--scale-factor)), calc(4vw* var(--scale-factor))));
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: var(--background-lighter-color);
    /* Transitions */
    transition: all var(--transition-duration-1);
    -webkit-transition: all var(--transition-duration-1);
    -moz-transition: all var(--transition-duration-1);
    -o-transition: all var(--transition-duration-1);
    -ms-transition: all var(--transition-duration-1);
    border: var(--border) solid;
    border-radius: var(--border-radius);
    max-height: 212px;
    overflow-y: auto;
}

    .dropdown-menu:hover {
        background: var(--background-hover-color);
        border-color: #ff7300;
    }

.dropdown-menu li {
    margin: clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor))) clamp(0px, calc(2vh* var(--scale-factor)), calc(4vw* var(--scale-factor)));
    width: fit-content;
    -webkit-width: -webkit-fit-content;
}

.dropdown-menu a {
    text-decoration: none;
    /* Transitions */
    transition: color var(--transition-duration-1);
    -webkit-transition: color var(--transition-duration-1);
    -moz-transition: color var(--transition-duration-1);
    -o-transition: color var(--transition-duration-1);
    -ms-transition: color var(--transition-duration-1);
    white-space: nowrap;
}

    .dropdown-menu a:hover {
        color: orange;
    }

/* background-dot-container.html */
.background-dot-container-header {
    display: flex;
    justify-content: space-between;
}

.background-dot-container-price {
    display: flex;
    align-items: baseline;
    -webkit-align-items: baseline;
}

.line {
    margin-top: clamp(0px, calc(1.5vh * var(--scale-factor)), calc(3vw * var(--scale-factor)));
    margin-bottom: clamp(0px, calc(1.5vh * var(--scale-factor)), calc(3vw * var(--scale-factor)));
    border: var(--border) solid rgba(var(--grey), 1);
    line-height: 100%;
}

.capability {
    font-size: clamp(0px, calc(2vh* var(--scale-factor)), calc(4vw* var(--scale-factor)));
    line-height: clamp(0px, calc(2vh* 2* var(--scale-factor)), calc(4vw* 2* var(--scale-factor)));
    padding-left: clamp(0px, calc(2.5vh* var(--scale-factor)), calc(5vw* var(--scale-factor)));
}

    .capability:before {
        content: '\2022';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2vh;
    }

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    position: relative; /* To position the custom marker */
}

.discount-details {
    font-weight: 400;
    white-space: normal;
}

.background-dot-container-features {
    padding: 0;
    color: #f7f8f8;
}

.feature {
    padding: 0px 0px 0px clamp(0px, calc(4vh* var(--scale-factor)), calc(8vw* var(--scale-factor)));
    font-weight: 500;
    position: relative;
}

    .feature svg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

.plans-name {
    text-transform: uppercase;
    color: #ff9764;
    font-weight: 600;
}

.plans-popular {
    background: linear-gradient(45deg, rgba(34,36,38,1) 60%, rgba(34,36,38,1)) padding-box, rgba(var(--grey), 1) border-box;
    background-repeat: round;
    background-size: 100%;
    border: var(--border) solid transparent;
    border-radius: var(--border-radius);
    padding: 0 clamp(0px, calc(1.2vh* var(--scale-factor)), calc(2.4vw* var(--scale-factor)));
}

.background-container {
    background: #232426;
    border-radius: var(--border-radius);
    display: flex;
    -webkit-align-items: center;
    max-width: 100%;
    height: fit-content;
    padding: clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor)));
    border: var(--border) solid #3c3f44;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor)));
}

input[type='range'] {
    height: clamp(0px, calc(1.5vh / 1.5* var(--scale-factor)), calc(3vw/ 1.5* var(--scale-factor)));
    width: 100%;
    border-radius: var(--border-radius);
    background: rgba(var(--white), .75);
    outline: none;
    appearance: none;
    transition: all var(--transition-duration-1);
}

    input[type='range']:hover {
        height: clamp(0px, calc(3vh/ 1.5* var(--scale-factor)), calc(6vw/ 1.5* var(--scale-factor)));
    }

    input[type='range']:focus {
        background: rgba(var(--white), 1);
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: clamp(0px, calc(3vh/ 1.5* var(--scale-factor)), calc(6vw/ 1.5* var(--scale-factor)));
        height: clamp(0px, calc(3vh/ 1.5* var(--scale-factor)), calc(6vw/ 1.5* var(--scale-factor)));
        border-radius: 50%;
        background-color: white;
        opacity: 1;
        cursor: pointer;
        transition: all var(--transition-duration-1);
    }

        input[type='range']::-webkit-slider-thumb:hover {
            box-shadow: 0px 0px 0px clamp(0px, calc(1.5vh/ 1.5* var(--scale-factor)), calc(3vw/ 1.5* var(--scale-factor))) rgba(var(--grey), .5);
        }


.slider-value {
    text-align: center;
}

.not-available {
    text-decoration: line-through;
}

.background-dot-container-option {
    width: -webkit-fill-available;
    justify-content: center;
    border-radius: var(--border-radius);
    border: var(--border) solid rgba(var(--grey), .0);
    cursor: pointer;
    padding: clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor))) clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor)));
    line-height: 100%;
    overflow: hidden;
    user-select: none;
    appearance: none;
    outline: none;
    /* Transitions */
    transition: background-color var(--transition-duration-1), border-color var(--transition-duration-1), --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -webkit-transition: background-color var(--transition-duration-1), border-color var(--transition-duration-1), --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -moz-transition: background-color var(--transition-duration-1), border-color var(--transition-duration-1), --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -o-transition: background-color var(--transition-duration-1), border-color var(--transition-duration-1), --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    -ms-transition: background-color var(--transition-duration-1), border-color var(--transition-duration-1), --transition-angle var(--transition-duration-5), opacity var(--transition-duration-5), --transition-red var(--transition-duration-5), --transition-orange var(--transition-duration-5), --transition-white var(--transition-duration-5), --transition-grey var(--transition-duration-5);
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
    .background-dot-container-option.selected:not(.important-outline) {
        border-color: #e68858;
        background: rgb(230 181 88 / 20%);
        color: white;
    }

    .background-dot-container-option:hover {
        background-color: #3c3f44;
    }

.background-dot-container {
    /* Set Position & Limits */
    position: relative;
    overflow: hidden;
    flex: 1;
    /* Gradient Background + Gradient Border With Radius */
    background: linear-gradient(45deg, rgba(34,36,38,1) 60%, rgba(34,36,38,1)) padding-box, linear-gradient(to bottom, var(--transition-red), var(--transition-orange), var(--transition-grey), var(--transition-grey)) border-box;
    background-repeat: round;
    background-size: 100%;
    border: var(--border) solid transparent;
    border-radius: var(--border-radius);
    /* Set Height & Width. */
    width: 100%;
    height: 100%;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    width: -moz-available;
    height: -moz-available;
    width: -o-fill-available;
    height: -o-fill-available;
    /* Transition Effect. */
    transition: --transition-grey var(--transition-duration-1);
    -webkit-transition: --transition-grey var(--transition-duration-1);
    -moz-transition: --transition-grey var(--transition-duration-1);
    -o-transition: --transition-grey var(--transition-duration-1);
    -ms-transition: --transition-grey var(--transition-duration-1);
}

    .background-dot-container:hover {
        --transition-grey: rgba(var(--white), 1);
    }

    .background-dot-container:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2712%27%20height%3D%2712%27%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cg%20fill%3D%27rgba(255%2C%20255%2C%20255%2C%200.2)%27%20fill-opacity%3D%271%27%20fill-rule%3D%27evenodd%27%3E%3Ccircle%20cx%3D%273%27%20cy%3D%273%27%20r%3D%271%27/%3E%3C/g%3E%3C/svg%3E');
        background-repeat: space;
        z-index: 0;
    }


.background-dot-container-content {
    position: relative;
    display: flex;
    padding: clamp(0px, calc(3vh * var(--scale-factor)), calc(6vw * var(--scale-factor)));
    background: linear-gradient(45deg, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, .1));
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: clamp(0px, calc(1vh* var(--scale-factor)), calc(2vw* var(--scale-factor)));
}

.background-dot-container-title {
    font-size: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
    font-weight: bold;
}

.background-dot-container-description {
    font-size: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
}

.background-dot-container-link {
    font-size: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    text-decoration: none;
    background: #e9ecec;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    border-radius: var(--border-radius);
    height: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
    padding: 0 clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    align-content: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

    .background-dot-container-link:hover {
        opacity: 0.75;
    }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.center {
    text-align: center;
    align-self: center;
}

/* Main */
.first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: unset; /* Reset line height to default */
}

    .first-text h1 {
        font-size: clamp(2px, calc(10vw * var(--scale-factor)), 999px);
        line-height: unset; /* Reset line height to default */
    }

    .first-text h2 {
        margin-top: 0;
        font-size: clamp(2px, calc(1.6vw * var(--scale-factor)), 999px);
        line-height: unset; /* Reset line height to default */
    }

.offset-text {
    position: absolute;
}

.offset {
    animation: fadeLetterIn 2s cubic-bezier(0.33, 1, 0.68, 1);
    letter-spacing: calc(2vw * var(--scale-factor));
}

@keyframes fadeLetterIn {
    0% {
        letter-spacing: 0px;
    }

    100% {
        letter-spacing: calc(2vw * var(--scale-factor));
    }
}

.faded-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.02;
    user-select: none; /* Prevent text selection */
    pointer-events: none; /* Disable pointer events */
}

.offset .no-spacing {
    letter-spacing: 0;
}

.offset-text h1:nth-child(1) {
    opacity: 0.2;
}

.offset-text h1:nth-child(2) {
    opacity: 0.1;
}

.offset-text h1:nth-child(3) {
    opacity: 0.2;
}

.end-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .end-content img {
        border: var(--border) solid;
        border-radius: var(--border-radius);
        border-color: rgba(187, 90, 0, 0.75);
        -webkit-user-select: none;
        -moz-user-select: none;
        object-fit: cover;
        transition: all .22s ease-in-out;
    }

        .end-content img:hover {
            border-color: #ff7300;
        }

.card-container {
    display: flex;
    height: clamp(0px, calc(25vh* var(--scale-factor)), calc(50vw* var(--scale-factor)));
    margin-bottom: min(calc(2vh* var(--scale-factor)), calc(4vw* var(--scale-factor)));
    gap: clamp(0px, calc(2vh* var(--scale-factor)), calc(4vw* var(--scale-factor)));
}

.card {
    border: var(--border) solid;
    border-radius: var(--border-radius);
    border-color: rgba(var(--grey), 1);
    background-repeat: round;
    background-size: 100%;
    transition: all .3s ease-in-out;
    overflow: hidden;
    height: 100%;
    flex: 1;
}

    .card:hover {
        background-size: 100%;
        border-color: rgba(var(--white), 1);
    }

    .card:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        right: 0;
        bottom: 0;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2712%27%20height%3D%2712%27%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cg%20fill%3D%27rgba(255%2C%20255%2C%20255%2C%200.2)%27%20fill-opacity%3D%271%27%20fill-rule%3D%27evenodd%27%3E%3Ccircle%20cx%3D%273%27%20cy%3D%273%27%20r%3D%271%27/%3E%3C/g%3E%3C/svg%3E');
        background-repeat: space;
    }

.card-content {
    position: relative;
    display: flex;
    padding: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    background: linear-gradient(45deg, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, .1));
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

    .card-content:hover {
        background: linear-gradient(45deg, rgb(255 128 0 / 15%) 50%, rgb(255 128 0 / 45%) 120%);
    }

.card-title {
    font-size: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor))); /* Use calc() with the variable */
    font-weight: bold;
}

.card-description {
    font-size: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor))); /* Use calc() with the variable */
}
.card-link {
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(4.5vw * var(--scale-factor)));
    font-weight: 500;
    border: #e9ecec;
    background: rgba(var(--white), 1);
    color: black;
    border-radius: var(--border-radius);
    padding: 0 clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor)));
    text-align: center;
    cursor: pointer;
}

    .card-link:hover {
        opacity: 0.75;
    }

#resize-middle {
    width: clamp(0px, calc(25vw * var(--scale-factor)), calc(37.5vh * var(--scale-factor)));
    z-index: 2;
}

#resize-long {
    width: clamp(0px, calc(18vw * var(--scale-factor)), calc(27vh * var(--scale-factor)));
    position: absolute;
    transform: translateX(65%) translateY(-35%);
    z-index: 1;
}

#resize-large {
    width: clamp(0px, calc(13.5vw * var(--scale-factor)), calc(20.25vh * var(--scale-factor)));
    position: absolute;
    transform: translateX(-75%) translateY(-150%);
    z-index: 3;
}

.subtext {
    color: rgba(var(--white), 0.75);
}

.trusted-link {
    text-decoration: underline;
    user-select: auto;
    pointer-events: auto;
}

/* Media Query for Mobile Devices */
@media only screen and (max-aspect-ratio: 1.33) {
    .styled-list {
        list-style-type: none;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    .card-container {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card-content {
        display: -webkit-grid;
        -webkit-grid-template-columns: 4fr 3fr;
        -webkit-align-items: center;
        display: -moz-grid;
        -moz-grid-template-columns: 4fr 3fr;
        -moz-align-items: center;
        display: grid;
        grid-template-columns: 4fr 3fr;
        align-items: center;
    }

    .start-content {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .container {
        justify-content: space-between;
        align-items: center;
    }

        .container > * {
            flex: 0;
        }

    .sidebar {
        width: 50vw;
    }

    .button-container {
        width: 100%;
    }

    .hamburger-menu {
        --line-width: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor)));
        --line-height: clamp(0px, calc(0.5vh * var(--scale-factor)), calc(1vw * var(--scale-factor)));
        --line-spacing: clamp(0px, calc(1vh * var(--scale-factor)), calc(2vw * var(--scale-factor)));
        padding: 0;
        cursor: pointer;
        position: relative;
        -webkit-transition: -webkit-transform 0.4s ease, height 0.4s ease;
        transition: transform 0.4s ease, height 0.4s ease;
        display: block;
        width: var(--line-width);
        height: calc(3 * var(--line-height) + 2 * var(--line-spacing));
        top: calc((var(--line-height) + var(--line-spacing)) * -1);
    }

        .hamburger-menu .line {
            border: var(--border) solid;
            border-color: rgba(var(--white), 255);
            background: rgba(var(--white), 255);
            width: var(--line-width);
            height: var(--line-height);
            position: absolute;
            right: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-transform-origin: center;
            transform-origin: center;
        }

            .hamburger-menu .line:nth-child(1) {
                top: 0;
            }

            .hamburger-menu .line:nth-child(2) {
                top: calc(var(--line-height) + var(--line-spacing));
            }

            .hamburger-menu .line:nth-child(3) {
                top: calc(2 * (var(--line-height) + var(--line-spacing)));
            }

        .hamburger-menu.open .line:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - (var(--line-height) / 2));
        }

        .hamburger-menu.open .line:nth-child(2) {
            opacity: 0;
        }

        .hamburger-menu.open .line:nth-child(3) {
            transform: rotate(-45deg);
            top: calc(50% - (var(--line-height) / 2));
        }

    .logo h1 {
        padding: 0;
    }

    .nav-links {
        display: none;
    }

        .nav-links.open {
            display: flex;
        }

        .nav-links li {
            margin: 10px 0;
        }
}
