:root {
    --background-color: rgba(16,16,16,1);
    --background-lighter-color: rgba(24,24,24,1);
    --background-transparent-color: rgba(32,32,32,.5);
    --background-hover-color: rgba(32,32,32,1);
    --text-hover-color: rgba(255,255,255,0.8);
    --background-disabled-color: rgba(64,64,64,1);
    --text-disabled-color: rgba(128,128,128,1);
    --white: oklch(100% 0 0);
    --scale-factor: .70;
    --grey: #3d3d3d;
    --red: rgb(255, 64, 71);
    --orange: rgb(255, 128, 38);
    --border: clamp(0px, calc(.2vh * var(--scale-factor)), calc(.4vw * var(--scale-factor)));
    --border-radius: clamp(0px, calc(1.5vh * var(--scale-factor)), calc(3vw * var(--scale-factor)));
    --gradient-logo-color: linear-gradient(45deg, var(--red), var(--orange));
    --hover-gradient-logo-color: linear-gradient(45deg, rgb(180, 45, 50), rgb(204, 126, 71));
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    margin: 0;
    overflow: hidden;
	height: 100%;
    background: var(--background-lighter-color);
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(6vh * 1.1 * var(--scale-factor)), calc(12vw * 1.1 * var(--scale-factor)));
}

h2 {
    font-size: clamp(0px, calc(5vh * var(--scale-factor)), calc(10vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(5vh * 1.33 * var(--scale-factor)), calc(10vw * 1.33 * var(--scale-factor)));
}

h3 {
    font-size: clamp(0px, calc(4vh * var(--scale-factor)), calc(8vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(4vh * 1.33 * var(--scale-factor)), calc(8vw * 1.33 * var(--scale-factor))); /* Use calc() with the variable */
}

h4 {
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(2.5vh * 1.33 * var(--scale-factor)), calc(5vw * 1.33 * var(--scale-factor))); /* Use calc() with the variable */
}

p {
    font-size: clamp(0px, calc(2vh * var(--scale-factor)), calc(4vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(2vh * 2 * var(--scale-factor)), calc(4vw * 2 * var(--scale-factor))); /* Use calc() with the variable */
}

li {
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor))); /* Use calc() with the variable */
    line-height: clamp(0px, calc(2.5vh * 1.75 * var(--scale-factor)), calc(5vw * 1.75 * var(--scale-factor))); /* Use calc() with the variable */
}

main {
    display: none;
	flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    background: var(--background-lighter-color);
    color: rgba(255, 255, 255, 0.9);
    transition: top 0.5s ease, height 0.5s ease;
	overflow-y: hidden;
	overflow-x: hidden;
}

.button-container {
	display: flex;
	justify-content: flex-start;
	width: 75%;
	gap: clamp(0px, calc(1vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border: var(--border) solid;
    border-radius: var(--border-radius);
    border-color: var(--grey);
    cursor: pointer;
    font-weight: 500;
    background: linear-gradient(45deg, var(--background-lighter-color), var(--background-darker-color));
    height: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor)));
    width: 30%;
    font-size: clamp(0px, calc(2.5vh * var(--scale-factor)), calc(5vw * var(--scale-factor)));
    padding: 0;
    transition: all .15s ease-in-out;
}

button img {
    margin-right: calc(1vh * var(--scale-factor));
	width: calc(2.5vh * var(--scale-factor));
	opacity: 0.8;
}
  
button:hover img {
	opacity: 1;
    border-color: rgba(255, 255, 255, 0.75);
}

button.important {
    background: var(--gradient-logo-color);
	border-color: rgba(255, 255, 255, 0.75);
}

button:hover {
    background: var(--hover-gradient-logo-color);
	border-color: #ffffff;
    color: rgba(255, 255, 255, 0.9);
}

button:disabled {
    background: var(--background-disabled-color);
    color: var(--text-disabled-color);
    cursor: not-allowed;
    opacity: 0.6;
}

.navbar {
	background: var(--background-lighter-color);
    color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100vw;
    z-index: 1001;
    transition: top 0.5s ease;
	padding: clamp(0px, calc(1vh * var(--scale-factor)), calc(2vw * var(--scale-factor))) clamp(0px, calc(8vh * var(--scale-factor)), calc(16vw * var(--scale-factor)));
}

.navbar:before {
    content: "";
    position: absolute;
    bottom: calc(var(--border) * -1);
    left: 0;
    width: 100%;
    height: var(--border);
    background: var(--gradient-logo-color);
}


.background {
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: max(calc(-2vh * var(--scale-factor)), calc(-4vw * var(--scale-factor)));
    padding: 0;
    left: 0;
    z-index: 0;
}

.background::before {
    content: '';
    display: block;
    height: calc(var(--border) * 1);
    background: linear-gradient(to right, var(--grey), var(--grey), var(--grey), var(--grey));
    width: 100%;
    position: absolute;
    top: calc(var(--border) * -1);
    left: 0;
}

.sidebar {
	background: var(--background-lighter-color);
    max-width: 100vw;
    max-height: 100vh;
    color: rgba(255, 255, 255, 0.9);
    padding: clamp(0px, calc(2vw * var(--scale-factor)), 12px);
    position: fixed;
    width: 22vh;
    z-index: 1000;
    transition: top 0.5s ease, left 0.5s ease, height 0.5s ease;
    display: flex;
}

.sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    right: calc(var(--border) * -1);
    width: calc(var(--border) * 1);
    height: 100vh;
    background: linear-gradient(to bottom, var(--red), var(--red), var(--grey), var(--grey));
    transition: opacity 0.3s ease; 
    opacity: 1;
    z-index: 1;
}

.sidebar:hover:before {
    opacity: 0; 
}

.sidebar:after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(var(--border) * -1);
    width: calc(var(--border) * 1);
    height: 100vh;
    background: linear-gradient(to bottom, var(--red), var(--red), white, white);
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 0;
}

.sidebar:hover:after {
    opacity: 1; 
}

.sidebar button {
    margin: clamp(0px, calc(.75vh * var(--scale-factor)), calc(1.5vw * var(--scale-factor))) 0;
    white-space: nowrap;
	justify-content: left;
    padding-left: 15px; /* Adjust as needed for spacing */
	width: -webkit-fill-available;
}

.sidebar div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons horizontally */
    width: 100%; /* Ensure div takes full width of container */
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color); /* Use the background color variable */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 999; /* Ensure the navbar is above other content */
}

.loading-spinner {
    border: 4px solid #f3f3f3; /* Customize the border style */
    border-top: 4px solid #ff7300; /* Customize the top border color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Apply a spinning animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
}

.container > * {
    flex: 1; /* Each child element takes equal space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

/* Adjust the img size and margin dynamically */
.logo img {
    width: clamp(0px, calc(6vh * var(--scale-factor)), calc(12vw * var(--scale-factor))); /* Use viewport width for responsive size */
    margin-right: clamp(0px, calc(0.5vh * var(--scale-factor)), calc(1vw * var(--scale-factor))); /* Margin based on viewport */
    max-height: 100%; /* Ensure it doesn’t overflow the container height */
}

.text-gradient {
  background-image: var(--gradient-logo-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  transition: opacity 0.3s ease-in-out;
}

.text-gradient.change {
  opacity: 0.2;
}

.nav-links {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    margin: 0px 8px 0px 8px;
}

.nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9); /* Initial color */
    font-weight: 400;
    transition: color 0.3s ease; /* Transition for color change */
}

.nav-links a:hover {
    color: #f97b06; /* New color on hover */
    background: linear-gradient(31deg, #f97b06 25%, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s ease-in-out, transform 0.3s;
    transform: scaleX(0);
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: var(--background-lighter-color);
    padding: 0px 12px 0px 24px;
    transition: all 0.3s ease;
    border: var(--border) solid;
    border-radius: var(--border-radius);
    max-height: 212px; /* Set a max height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

.dropdown-menu:hover {
    background: var(--background-hover-color); /* Adjust hover color as needed */
    border-color: #ff7300; /* White border on hover */
}

.nav-links li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 8px);
}

.dropdown-menu li {
    margin: 8px;
    width: fit-content;
}

.dropdown-menu a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    color: orange;
}

/* Main */
.first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.first-text h1 {
    font-size: clamp(2px, calc(10vw * var(--scale-factor)), 999px);
}

.first-text h2 {
    margin-top: 0px;
    font-size: clamp(2px, calc(1.6vw * var(--scale-factor)), 999px);
}

.offset-text {
    position: absolute;
}

.offset {
    animation: fadeLetterIn 2s cubic-bezier(0.33, 1, 0.68, 1);
    letter-spacing: calc(2vw * var(--scale-factor));
}

@keyframes fadeLetterIn {
    0% {
        letter-spacing: 0px;
    }

    100% {
        letter-spacing: calc(2vw * var(--scale-factor));
    }
}

.faded-content {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.02;
    user-select: none; /* Prevent text selection */
    pointer-events: none; /* Disable pointer events */
}

.offset .no-spacing {
    letter-spacing: 0;
}

.offset-text h1:nth-child(1) {
    opacity: 0.2;
}

.offset-text h1:nth-child(2) {
    opacity: 0.1;
}

.offset-text h1:nth-child(3) {
    opacity: 0.2;
}

.muted-text {
    color: rgb(150, 150, 150);
    transition: color 0.3s ease;
    text-align: center;
}

.muted-text:hover {
    color: rgba(255, 255, 255, 0.9);
}


/* Media Query for Mobile Devices */
@media only screen and (max-aspect-ratio: 1.33) {
    .container{
		justify-content: space-between;
		align-items: center;
    }
	.container > * {
		flex: 0; /* Each child element takes equal space */
	}
	.hamburger-menu {
        padding: 0;
		cursor: pointer;
		display: block;
    }
	.hamburger-menu .line {
		width: clamp(0px, calc(4.2vh * var(--scale-factor)), calc(8.4vw * var(--scale-factor))); /* Use clamp() for responsive width */
		height: clamp(0px, calc(0.6vh * var(--scale-factor)), calc(1.2vw * var(--scale-factor))); /* Use clamp() for responsive height */
		background-color: rgba(255, 255, 255, 0.9);
		margin: clamp(2px, calc(2vw * var(--scale-factor)), 5px); /* Use clamp() for responsive margin */
		transition: transform 0.3s, opacity 0.3s;
	}
    .logo h1{
        padding: 0;
    }
    .nav-links {
        display: none; /* Initially hide on smaller screens */
    }
    .nav-links.open {
        display: flex; /* Show when menu is open */
    }
    .nav-links li {
        margin: 10px 0;
    }
}