################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeepAny.AI/FileContentIndex/e2aa79b3-0330-4e2d-8f3d-3060194d2308.vsidx
