node_modules/
www/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Ignore iOS / Android build cache but NOT the native folders themselves
ios/App/App.xcworkspace/xcuserdata
ios/App/Pods/
ios/App/Podfile.lock
android/app/build/
android/.gradle/
