.skiptranslate {
    display: none !important;
    position: absolute;
}

.goog-tooltip {
    display: none !important;
    position: absolute;
}

    .goog-tooltip:hover {
        display: none !important;
        position: absolute;
    }

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    position: absolute;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
    background-color: unset !important;
    box-shadow: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    position: unset !important;
}
