
    .upload-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      bottom: 0px;
      margin: auto;
      grid-gap: 32px;
    }
    .upload-box {
      background-color: var(--background-color);
      box-shadow: 0px var(--card-main-box-shadow-1-y) var(--card-main-box-shadow-1-blur) var(--card-main-box-shadow-1), 0px var(--card-main-box-shadow-2-y) var(--card-main-box-shadow-2-blur) var(--card-main-box-shadow-2), 0 0 0 1px var(--card-main-border-color);
      padding: 56px 16px 16px 16px;
      border-radius: 15px;
      position: relative;
      transition: box-shadow 0.25s;
      flex: 1;
    }
    .upload-input {
      display: block;
      margin-bottom: 10px;
    }
    .preview {
      max-width: 480px;
      max-height: 270px;
      width: auto;
      height: auto;
      display: none;
    }